# App Configuration
APP_NAME="Mis Eventos API"
DEBUG=True

# Database & Cache
DATABASE_URL=postgresql://root:rootpassword@db:5432/mis_eventos
REDIS_URL=redis://redis:6379/0

# Default Admin (Seed)
DEFAULT_ADMIN_EMAIL=admin@gmail.com
DEFAULT_ADMIN_PASSWORD=Password123!

# Security
SECRET_KEY=tu_llave_secreta_para_jwt
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CORS (comma-separated origins)
CORS_ORIGINS=http://localhost:4200

# Storage (optional)
# UPLOAD_DIR=uploads
# STATIC_URL=/static
