:host {
  display: block;
}

.animate-language-in {
  animation: slide-up 0.2s ease-out forwards;
}

@keyframes slide-up {
  from { transform: translateY(10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
